.accordion-header {
  font-size: var(--font-size-paragraphs);
  font-family: var(----font-family);
  margin-top: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.accordion-header:hover{
    cursor: pointer;
}
.accordion-header:active{
 color: var(--purple);   
}

.title {
  font-weight: 700;
  margin-right: 16px;
  text-align: left;
}

.accordion-content{
    color: var(--grayish-purple);
    font-weight: 400 ;
    margin-top: 16px;
    font-size: 14px;
    text-align: left;
    line-height: 1.5;   
}

.divider{
    margin-top: 20px;
    border-top:1px solid var(--light-pink);
}

.open {
  transform: rotate(180deg);
}
.close{
  transform: rotate(100%);
}