.accordion-header {
  font-size: var(--font-size);
  font-family: var(----font-family);
  margin-top: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.accordion-header:hover{
    cursor: pointer;
}
.accordion-header:active{
 color: var(--soft-red);   
}

.title {
  font-weight: 400;
  margin-right: 16px;
  text-align: left;
  color:var(--very-dark-grayish-blue);
}
.active-title{
  color:var(--very-dark-desaturated-blue);
  font-weight:700;
}
.title:active{
  color: var(--soft-red);   
 }

.accordion-content{
    color: var(--dark-grayish-blue);
    font-weight: 400 ;
    margin-top: 16px;
    font-size: var(--font-size);
    text-align: left;
    line-height: 1.5;   
}

.divider{
    margin-top: 20px;
    border-top:1px solid hsl(240deg 17.6% 75.68%);
}

.open {
  transform: rotate(180deg);
}
.close{
  transform: rotate(100%);
}