.App {
  text-align: center;
}

.accordion-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: white;
  padding: 24px;
  margin: 120px 24px 57px 24px;
  border-radius: 32px;
}
.banner-mobile {
  position: absolute;
  top: -26%;
}
.logo {
  position: relative;
}
.illustration {
  height: 240px;
  width: 240px;
}
.shadow {
  position: absolute;
  top: 60%;
  left: 0;
  width: 100%;
}
.h1{ 
  margin:0;
}
.content{
  margin-top: 100px;
}

@media (min-width:768px){
  .accordion-card {
    display: flex;
    flex-direction: row;
  }
}