@font-face {
  font-family: "Kumbh Sans";
  src: url("./assets/fonts/Kumbh_Sans/KumbhSans-VariableFont_YOPQ\,wght.ttf");
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Kumbh Sans";
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom right, var(--soft-violet), var(--soft-blue));
  height:100vh;
}
